{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>
        <input type="password" id="password" name="_password"/>
        <button type="submit">login</button>
    </form>
{% endblock %}
