{% extends 'base.html.twig' %}

{% block title %}City index{% endblock %}

{% block body %}

    <h1>City index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.country }}</td>
                <td>
                    {% if is_granted('ROLE_EDIT') %}
                    <a href="{{ path('city_show', {'id': city.id}) }}">show</a>
                    <a href="{{ path('city_edit', {'id': city.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_EDIT') %}
    <a href="{{ path('city_new') }}">Create new</a>
    {% endif %}
{% endblock %}
