<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <a href="{{ path('app_logout')}}">logout</a>
    <h2>Menu:<br></h2>
    <h3><a href="{{ path('city_index') }}">Cities</a></h3>
    <h3><a href="{{ path('measurement_index') }}">Measurements</a></h3>
        {% block body %}

        {% endblock %}
    </body>
</html>
